{% extends "registered_layout.html" %}

{% block content %}
<h1>.</h1>
<br>
<br>
<form>
    <h3>{{session['user']}}</h3>
    <br>
    <h4><strong>¿Seguro/a que desea borra el siguiente registro?:</strong> </h4>
    <br>
    <form action="/iris/{{id}}/removed/" method='POST'>
        <table class="table table-hover">
            <tr>
                <th><label>Sepal Length:</label></th>
                <td><input name="sepal_length" value="{{result[0]}}" disabled/></td>
            </tr>
            <tr>
                <th><label>Sepal Width:</label></th>
                <td><input name="sepal_width" value= "{{result[1]}}" disabled /></td>
            </tr>
            <tr>
                <th><label>Petal Length:</label></th>
                <td><input name="petal_length" value="{{result[2]}}" disabled/></td>
            </tr>
            <tr>
                <th><label>Petal Width:</label></th>
                <td><input name="petal_width" value="{{result[3]}}" disabled/></td>
            </tr>
            <tr>
                <th><label>Species:</label></th>
                <td><input name="species" value="{{result[4]}}" disabled/></td>
            </tr>
        </table>
        <br>
        <button class="w3-button  w3-red w3-section w3-padding" type="submit">Eliminar</button>
        <br>
    </form>
    <br>
{% endblock %}
